 body {
   text-align: center;
 }

.bg-white {
  color:#82898f;
}

.bg-blue {
  background-color:#307aab;
  color: white;
  padding-bottom: 30px;
}

.bg-gray {
  background-color: #eeeff1;
  color: #3a505b;
  }

  .bigger {
    padding: 10px;
  }

.emphasis {
  font-weight: bold;
}

.boxes {
  background: white;
  padding: 30px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 50px;
}

.top {
padding: 10px;
font-weight: 410;
}

.middle {
padding: 40px;
}